<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="{{facebook_url}}" target="_blank" class="social-github">
                <i class="fa fa-xlg fa-facebook" data-original-title="facebook oficial" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/hackemateninja" target="_blank" class="social-github">
                <i class="fa fa-xlg fa-github" data-original-title="GitHub" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="{{twitter_url}}" target="_blank" class="social-github">
                <i class="fa fa-xlg fa-twitter" data-original-title="twitter oficial" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/c/nitrowittyoficial" target="_blank" class="social-github">
                <i class="fa fa-xlg fa-youtube" data-original-title="canal de youtube" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/+nitrowittyoficial" target="_blank" class="social-github">
                <i class="fa fa-xlg fa-google-plus" data-original-title="sigueme" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
